<configuration>

    <!-- Appender para la consola -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.pattern.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- Raíz de logger -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <!-- Logger específico para Karate -->
    <logger name="com.intuit.karate" level="DEBUG"/>

</configuration>
